.AddVacation form {
    border: 2px solid white;
    border-radius: 5px;
    width: 500px;
    text-align: left;
    margin: 10px auto;
    padding: 20px;
    background-color: #FFFFFF;
    color: black;
}

.imagePreview > * {
    width: fit-content;
    height: fit-content;
    max-width: 456.8px;
    max-height: 456.8px;
}