.AdminVacationCard {
    width: 500px;
}

/* .VacationCard {
    background-size: cover;
    background-position: center;
    text-align: left;
    width: 400px;
    height: 400px;
}

.VacationCard .VacationButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35%;
} */