html, body, #root {
  margin: 0;
  text-align: center;
  height: 100%;
  font-size: large;
  background-image: linear-gradient(to bottom right, #FDD07A ,#FFFFFF);
  color: black;
  overflow: auto;
}

.Box {
  display: inline-block;
  margin: 10px;
}

.MenuHr {
  margin-top: 0;
}

.HeaderHr {
  margin-bottom: 0;
}