.ProductCard {
    width: 300px;
    display: inline-flex;
    background-image: linear-gradient(45deg, #1A2238, #9DAAF2);
    text-align: left;
}

.ProductCard img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
}

.ProductCard > div:last-child {
    margin-left: auto;
}
