 .UserVacationCard {
    width: 500px;
}

/* .UserVacationCard .imageAndFollow {
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 7px;
}

.UserVacationCard .followButton {
    margin: 5px
} */