.Register {
	
}

.Register form {
  width: 350px;
  text-align: left;
}

.Register form > input, .Register form > button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: x-large;
}

.Register form > label {
  font-size: x-large;
}